---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome</h1>
			<p>
				Welcome to the Bowngroup website, featuring a selection of related links and websites.
			</p>

			<p>
				For fiction and non-fiction writing about software engineering and engineering related 
				you can head to <a href="https://richardwbown.com">richardwbown.com</a> and also
				check out his novel <a href="https://humansoftwarebook.com>Human Software</a>.
			</p>

			<p>
			    For museum training and consultancy you can head to <a href="https://thinkingmuseum.com">thinkingmuseum.com</a> 
				as well as <a href="https://theartengager.com>theartengager.com</a> to find out more
				about Claire Bown's work.
			</p>

		</main>
		<Footer />
	</body>
</html>
